.product-price {
    font-weight: bold;
}

.cart-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
.cart-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-item-image {
    width: 60px;
}